@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//change colors
$secondary: #282c34;
$primary: #61dafb;
$link: $primary;
$grey: #dbd9d6;
$label-color: $grey;
$input-background-color: transparent;
$input-border-color: none;
$input-shadow: $primary;
$input-color: $primary;
$input-hover-border-color: $primary;
$input-focus-border-color: $primary;
$input-focus-box-shadow-size: 0;
$navbar-item-color: $primary;
$navbar-item-hover-background-color: none;
@import "~bulma/bulma";
@import "~react-alice-carousel/lib/alice-carousel.css";

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	padding-bottom: 20px;
	background-color: $grey;
	margin: 0;
	.form-section {
		margin-top: 50px;
		height: 105vh;
		background-color: $secondary;
		.form {
			i {
				color: $primary;
			}
			.field {
				padding-bottom: 20px;
			}
			$button-background-color: $primary;
			margin: auto;
			width: 95%;
			label {
				color: $primary;
			}
			.input {
				border-bottom: 1px solid $primary;
			}
		}
	}

	.is-centered {
		text-align: center;
	}

	.news {
		height: auto;
		width: auto;
	}

	.is-set-to-zero {
		padding: 0;
		margin: 0;
	}

	.container-full-screen {
		min-width: 100%;
	}

	.is-white {
		color: #ffffff;
	}

	.column {
		&.has-button {
			padding-top: calc(125% / 2);
			text-align: center;
		}
	}

	.media {
		padding-top: 1rem;
		padding-bottom: 1rem;
		.media-left {
			height: 250px;
			width: 250px;
			.img {
				height: 250px;
				width: 250px;
			}
		}
		.content {
			padding: 40px 70px 40px 0;
		}
	}

	.navbar {
		.navbar-start {
			.field {
				max-width: 100px;
			}
		}
		width: 100%;
		background-color: $secondary;
		.navbar-item {
			color: $primary !important;
		}
		a {
			&.navbar-item {
				color: $primary !important;
			}
			&:hover {
				font-weight: 800;
			}
		}
		input {
			border-bottom: 1px solid $primary;
			&:hover {
				border: none;
				border-bottom: 1px solid $primary;
			}
		}

		.control {
			a {
				border: none;
				border-bottom: 1px solid $primary;
			}
			.input {
				width: 285px;
				&.input:focus {
					outline: none;
				}
			}
		}
		.field:not(:last-child) {
			margin-bottom: 0rem;
		}
	}
}

/* Change Autocomplete styles on input*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	border-bottom: 1px solid $primary;
	-webkit-text-fill-color: $primary;
	background-color: $secondary;
	transition: background-color 5000s ease-in-out 0s;
}
