@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//change colors
$secondary: #282c34;
$primary: #61dafb;
$link: $primary;
$grey: #dbd9d6;
$label-color: $grey;
$input-background-color: transparent;
$input-border-color: none;
$input-shadow: $primary;
$input-color: $primary;
$input-hover-border-color: $primary;
$input-focus-border-color: $primary;
$input-focus-box-shadow-size: 0;
@import "~bulma/bulma";


*{
	scroll-behavior: smooth;

}

body {
	padding-bottom: 20px;
	background-color: $grey;
	height: 100vh;
	margin: 0;
	.form-section {
		height: 105vh;
		background-color: $secondary;
		.form {
			i {
				color: $primary;
			}
			.field {
				padding-bottom: 20px;
			}
			$button-background-color: $primary;
			margin: auto;
			width: 95%;
			label {
				color: $primary;
			}
			.input {
				border-bottom: 1px solid $primary;
			}
		}
	}
	.is-centered{
		text-align: center;
	}

	.news{
		height: auto;
		width: auto;
	}


	.is-set-to-zero{
		padding: 0;
		margin: 0;
	}

	.container-full-screen{
		min-width: 100%;
	}

	.is-white{
		color: #ffffff;
	}
	.media{
		// background-color: #ffffff;
		padding-top: 1rem;
		padding-bottom: 1rem;
		.media-left{
			height: 250px;
			width: 250px;
			.img{
				height: 250px;
				width: 250px;			
			}
		}
		.content{
			padding: 40px 70px 40px 0;
		}

	}

	//line-height: 2.5;
	.navbar{
		position: fixed;
		width: 100%;
		background-color: $secondary;
		.navbar-item{
			color: #ffffff;
			&:hover{
				color: $secondary;
			}
		}

		.control{
			.input{
				width: 400px;
				&.input:focus{
					outline: none;
					// background-color: red;
				}
			}
		}
		.field:not(:last-child) {
			 margin-bottom: 0rem; 
		}
	}
}

/* Change Autocomplete styles on input*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	border-bottom: 1px solid $primary;
	-webkit-text-fill-color: $primary;
	background-color: $secondary;
	transition: background-color 5000s ease-in-out 0s;
}
