@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700%27);
// @import 'https://fonts.googleapis.com/css?family=Muli:400, 700%27';
// @import 'https://fonts.googleapis.com/css?family=Muli:400, 700';

//change colors
$secondary: #282c34;
$primary: #61dafb;
$link: $primary;
$grey: #dbd9d6;
$label-color: $grey;
$input-background-color: transparent;
$input-border-color: none;
$input-shadow: $primary;
$input-color: $primary;
$input-hover-border-color: $primary;
$input-focus-border-color: $primary;
$input-focus-box-shadow-size: 0;
$navbar-item-color: $primary;
$navbar-item-hover-background-color: none;
$pagination-color: $primary;
@import "~bulma/bulma";
@import "~react-alice-carousel/lib/alice-carousel.css";

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}
body {
	padding-bottom: 40px;
	background-color: $grey;
	margin: 0;
	min-height: 100vh;
	// login and register forms
	.form-section {
		margin-top: 50px;
		height: 105vh;
		background-color: $secondary;
		.form {
			i {
				color: $primary;
			}
			.field {
				padding-bottom: 20px;
			}
			$button-background-color: $primary;
			margin: auto;
			width: 95%;
			label {
				color: $primary;
			}
			.input {
				border-bottom: 1px solid $primary;
			}
		}
	}

	//home page
	.home-hero {
		background-image: url('https://images.alphacoders.com/942/thumb-1920-942234.jpg');
		background-size: cover;
		margin-top: 20px;
		.is-1 {
			font-size: 4em;
		}
		.is-3 {
			font-size: 2.5em;
		}
		.is-1,
		.is-3 {
			color: $grey !important;
			text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
		}
	}
	.is-centered {
		text-align: center;
	}
	.has-margin{
		margin-top: 30px;
		height: auto;
	}

	.news {
		height: auto;
		width: auto;
	}

	.is-set-to-zero {
		padding: 0;
		margin: 0;
	}

	.container-full-screen {
		min-width: 100%;
	}

	.is-white {
		color: #ffffff;
	}

	.column {
		&.has-button {
			padding-top: calc(125% / 2);
			text-align: center;
		}
	}

	.home-media {
		padding-top: 1rem;
		padding-bottom: 1rem;
		.media-left {
			height: 300px;
			width: 500px;
			.img {
				height: 300px;
				width: 500px;
			}
		}
		.content {
			padding: 40px 70px 40px 0;
		}
	}
	// everything navbar
	.navbar {
		.navbar-start {
			.field {
				max-width: 100px;
			}
		}
		width: 100%;
		background-color: $secondary;
		.navbar-item {
			color: $primary !important;
		}
		a {
			&.navbar-item {
				color: $primary !important;
			}
			&:hover {
				font-weight: 800;
			}
		}
		input {
			border-bottom: 1px solid $primary;
			&:hover {
				border: none;
				border-bottom: 1px solid $primary;
			}
		}

		.control {
			a {
				border: none;
				border-bottom: 1px solid $primary;
			}
			.input {
				width: 285px;
				&.input:focus {
					outline: none;
				}
			}
		}
		.field:not(:last-child) {
			margin-bottom: 0rem;
		}
	}

	// everything search page
	.search-page {
		padding-top: 70px;
		padding-bottom: 100px;
		min-height: 100vh;
		background-color: $secondary;
		.search-hero {
			background-image: url("https://i.imgur.com/63EK4EK.jpg");
			background-size: cover;
			.is-1 {
				color: $white;
				font-size: 5em;
				text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
			}
		}
		.search-section {
			input {
				border: none;
				border-bottom: 2px solid $primary;
				font-size: 1.5em !important;
			}
		}
		.search-result {
			display: flex;
			border: 1px solid $primary;
			padding: 6px;
			.media-left {
				width: 64px;
			}
			strong {
				font-size: 26px;
				color: $primary !important;
			}
		}
	}
	// everything game show page
	.game-section {
		padding-top: 70px;
		background-color: $secondary;
		.game-show {
			min-height: 100vh;
			.game-hero {
				background-image: url("https://i.imgur.com/lj3MVwM.jpg");
				background-size: cover;
				.is-1 {
					color: $white;
					font-size: 5em;
					text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
				}
			}
		}
	}

	.Messaging{
		.column{
			height: auto;
			.inbox{
				height: 400px;
				overflow: scroll;
				background: white;

			}
			&:first-child {
				background: red;
			}
			&:last-child {
				background: blue;
				.control{
					&:first-child {
						width: 100%;
					}

				}
			}
			.chatroom{
				background: green;
				height: 50px;
				width: 100%;
				margin-bottom: 3px;
			}
		}

	}
}

/* Change Autocomplete styles on input*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	border-bottom: 1px solid $primary;
	-webkit-text-fill-color: $primary;
	background-color: $secondary;
	transition: background-color 5000s ease-in-out 0s;
}
