// @charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//change colors
$secondary: #282c34;
$primary: #61dafb;
$link: #282c34;
$grey: #dbd9d6;
$label-color: $grey;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

body {
	background-color: $grey;
	height: 100vh;
	.login {
		background-color: $secondary;
		margin-top: 20%;
		border-radius: 10px;
		.form {
			margin: auto;
			width: 95%;
		}
	}
	.is-centered{
		text-align: center;
	}


	.is-set-to-zero{
		padding: 0;
		margin: 0;
	}

	.container-full-screen{
		min-width: 100%;
	}
	.section{
		background-color: $grey;
	}
	.media{
		// background-color: #ffffff;
		padding-top: 1rem;
		padding-bottom: 1rem;
		.media-left{
			height: 250px;
			width: 250px;
			.img{
				height: 250px;
				width: 250px;			
			}
		}
		.content{
			padding: 40px 70px 40px 0;
		}

	}

	//line-height: 2.5;
	.navbar{
		position: fixed;
		width: 100%;
		background-color: $secondary;
		.navbar-item{
			color: #ffffff;
			&:hover{
				color: $secondary;
			}
		}

		.control{
			.input{
				width: 400px;
				&.input:focus{
					outline: none;
					// background-color: red;
				}
			}
		}
		.field:not(:last-child) {
			 margin-bottom: 0rem; 
		}
	}
}
